/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* Front page */
.wrapper {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(75, 75, 75, 0.75), rgba(75, 75, 75, 0.5));
    z-index: -8;
  }
  img {
    height: 100vh;
    min-width: 100vh;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: -9;
  }
}
.intro {
  font-family: $font__main;
  padding-top: 4rem;
  margin: 0 auto 0 10%;
  color: #fff;
  text-shadow: 2px 2px 8px #4b4b4b;
  text-align: left;
  width: 80%;
  h2 {
    font-size: 1.3rem;
    line-height: 1.5rem;
    text-shadow: 2px 2px 8px #4b4b4b;
  }
  span {
    font-size: 1rem;
    line-height: 1rem;
    display: inline-block;
    margin-right: 3%;
  }
  a {
    text-decoration: none;
    color: $brand-color;
    // text-shadow: 2px 2px 8px #4b4b4b;
  }
  a:hover {
    color: #fff;
  }
  .fa {
    color: $brand-color;
    margin-right: 0.5rem;
    text-shadow: none;
  }
  .fa-map-marker {
    font-size: 1.35rem;
  }
}
.landing-page-btns {
  // display: inline-block;
  // margin: 0 auto;
  width: 50%;
  padding-top: 18%;
  margin-left: 10%;
  button {
    margin-bottom: 0.9rem;
    margin-right: 5%;
  }
  .blue {
    background-color: $brand-color;
    border: none;
    color: #fff;
  }
  .blue:hover {
    background-color: $theme-grey;
  }
  .grey {
    border: none;
    background-color: #DDDDDC;
  }
  .grey:hover {
    background-color: $theme-grey;
  }
}

/* Contact Form */
#post-11 {
  .entry-header {
    border: none;
  }
}
.entry-content {
form {
  padding-top: 8rem;
  width: 75%;
  // padding-left: 2rem;
  margin: 0 auto;
  input {
    width: 100%;
    height: 1.5rem;
  }
  p {
    font-size: 0.9rem;
  }
}
textarea {
  height: 7rem;
}
.wpcf7-submit {
  margin-bottom: 5%;
  background-color: $brand-color;
  border: none;
  color: #fff;
  width: 50%;
  height: 2rem;
}
.wpcf7-submit:hover {
  background-color: $theme-grey;
}
}
/* About */
.content-wrapper {
  margin-left: 5%;
  margin-right: 15%;
}
.content {
  background-color: #fff;
  margin-top: 2rem;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 100%;
  width: 100%;
  position: relative;
  h2 {
    width: 60%;
    // margin: 0 1rem 1rem 1.5rem;
    margin: 0 auto;
    padding-bottom: 1rem;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.3rem;
  }
  p {
    width: 70%;
    // margin: 0 1rem 1rem;
    margin: 0 auto;
    padding-bottom: 1rem;
    text-align: center;
    line-height: 1.1rem;
    font-size: 0.9rem;
  }
  .interest-image img {
    border-radius: 50%;
    margin: 0 auto 1rem;
    display: block;
    height: 7rem;
    width: 7rem;
    .cfs_text {
      font-size: 1rem;
      color: black;
      margin: 0 auto;
      text-align: center;
    }
  }
}
.testimony-image1 img {
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  height: 7rem;
  width: 7rem;
  margin-top: -1.5rem;
}
.testimony1 {
  background-color: grey;
  width: 40%;
  margin: 0 auto;
  p {
    text-align: center;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
  }
}
.testimony-caption p {
  font-size: 0.8rem;
  margin: 0 auto;
  max-width: 7rem;
  line-height: 1rem;
  padding-top: 0.7rem;
  padding-bottom: 2rem;
}
.testimony-image2 img {
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  height: 7rem;
  width: 7rem;
  margin-top: -1.5rem;
}
.testimony2 {
  background-color: grey;
  width: 40%;
  margin: 0 auto;
  p {
    text-align: center;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
  }
}
/* Animated skill bars still About Page*/
.skillbars-wrapper {
  margin: 0 auto;
}
.skillbar {
  position: relative;
  display: block;
  margin: 0 auto 0.8rem;
  width: 72%;
  background: #eee;
  height: 1.56rem;
  border: $theme-grey-border;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: 0.9s linear;
  -moz-transition: 0.9s linear;
  -ms-transition: 0.9s linear;
  -o-transition: 0.9s linear;
  transition: 0.9s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}
.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 7rem;
  font-weight: bold;
  font-size: 0.8rem;
  color: #fff;
  background: #6adcfa;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.skillbar-title span {
  display: block;
  padding: 0 0.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.skillbar-bar {
  height: 1.5rem;
  width: 0;
  background: #6adcfa;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.skill-bar-percent {
  position: absolute;
  right: 0.6rem;
  top: 0;
  font-size: 0.8rem;
  height: 1.5rem;
  line-height: 1.5rem;
  color: #fff;
  color: rgba(0, 0, 0, 0.9);
}
/* Projects Archive Page */
.project-grid-item {
  margin: 0 auto;
  display: block;
  .image-overlay {
    width: 300px;
    height: 200px;
    background-color: black;
    opacity: 0.6;
    margin: 0 auto;
  }
  .image-overlay:hover {
    opacity: 0.9;
  }
  }
  .project-title {
      color: black;
      font-size: 1rem;
      text-align: center;
  }
  .project-title:hover {
    color: $brand-color;
  }

/* Single Project Page */
.single-project-image img {
  margin: 0 auto 1rem;
  display: block;
  // width: 15rem;;
  // height: 10rem;;
  width: 70%;
  // max-height: 100%;
  height: auto;
}
.content-wrapper {
  h2 {
    text-align: left;
    margin-left: 16%;
  }
  p {
    margin-bottom: 1rem;
  }
}
.single-project-navigation {
  width: 90%;
  margin: 0 auto;
}
.nav-links {
  margin: 0 auto 2rem;
  width: 82%;
  i {
    color: $near-black;
    font-size: 1.3rem;
    line-height: 1rem;
  }
  a {
    text-decoration: none;
    color: $near-black;
    font-size: 0.9rem;
  }
  .nav-previous {
    background-color: #DDDDDC;
    border-radius: 4px;
    line-height: 1rem;
    padding: 0.5em 1em;
  }
  .nav-previous:hover {
    background-color: $theme-grey;
    a {
      color: black;
    }
    i {
      color: black;
    }
  }
  .nav-next {
    background-color: $brand-color;
    border-radius: 4px;
    line-height: 1rem;
    padding: 0.5em 1em;
  }
  .nav-next:hover {
    background-color: $theme-grey;
    a {
      color: black;
    }
    i {
      color: black;
    }
  }
}

/* Blog Index Page */

article {
  margin: 0 auto;
  display: block;
  width: 80%;
  .entry-header {
    margin: 0 auto;
    border: $theme-grey-border;
    position: relative;
    max-width: 640px;
  }
  .entry-meta {
    color: black;
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .entry-title {
      text-align: center;
      a {
        text-decoration: none;
        color: $near-black;
      }
      a:hover {
        color: $theme-grey;
      }
  }
  // .entry-content p {
  //   display: none;
  // }
}
/* Single Post Page */
.blog-featured-image img {
  margin: 0 auto;
  display: block;
}
#commentform {
  padding-top: 0;
  .submit {
    background-color: $brand-color;
    border: none;
    color: #fff;
    width: 40%;
  }
  .submit:hover {
    background-color: $theme-grey;
  }
}
#reply-title {
  text-align: center;
}
/* 404 Page */
fieldset {
  border: none;
}
.search-field {
  width: 40%;
}
.search-form {
  padding-top: 0;
}
.search-submit {
  background-color: $brand-color;
  border: none;
  .fa {
  color: #fff;
  }
}
.search-submit:hover {
  background-color: $theme-grey;
}

.widget {
  ul {
    list-style-type: none;
  }
  a {
  text-decoration: none;
  color: $brand-color;
  }
  a:hover {
    color: $theme-grey;
  }
}
